<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--   => For connection this step is very important-->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="datasrc">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/springjdbc"/>
        <property name="username" value="postgres"/>
        <property name="password" value="root"/>
    </bean>


    <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbctemp" p:dataSource-ref="datasrc"/>


<!--    => Configuring StudentDAoImpel  -->

    <bean class="Dao.StudentDaoImpel" name="studentDao" p:jdbcTemplate-ref="jdbctemp"/>


</beans>